<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
        <li *ngFor="let odd of oddNumbers"
          class="list-group-item"
          [ngClass]="{odd: odd % 2 !==0}"
          [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow': 'transparent'}"
          >
          {{odd}}
        </li>
      </div>
      <div *ngIf="!onlyOdd">
        <li *ngFor="let even of evenNumbers"
        class="list-group-item"
        [ngClass]="{even: even % 2===0}"
        [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow': 'transparent'}"
        >
        {{even}}
      </li>      
      </div>
      <hr><hr>
      Start of Using custom structural directive
      <hr><hr>
      <div *appUnlessStrucuturalDirective='onlyOdd'>
        <li *ngFor="let even of evenNumbers"
        class="list-group-item"
        [ngClass]="{even: even % 2===0}"
        [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow': 'transparent'}"
        >
        {{even}}
      </li>      
      </div>
      <hr><hr>
      End of Using custom structural directive
      <hr><hr>
      </ul>
      <p AppBasicHighlight>Style me with basic directive</p>
      <p appBetterHighlight>Style me with better directive</p>
      <p appBetterInteractiveListener>Style me with better directive</p>
      <p appBetterHighlightPassValueFromDom [defaultColor]="'green'" [highlightCollor] = "'silver'">Style me with better directive by passing value from Dom</p>

       <hr> <h4>Usage of ngSwitch testValue = {{testValue}}</h4>
        <div [ngSwitch]="testValue" >
          <p *ngSwitchCase="1">value is {{testValue}}</p>
          <p *ngSwitchCase="3">value is {{testValue}}</p>
          <p *ngSwitchCase="5">value is {{testValue}}</p>
          <p *ngSwitchCase="7">value is {{testValue}}</p>
          <p *ngSwitchCase="9">value is {{testValue}}</p>
          <p *ngSwitchDefault>default value: {{testValue}}</p>
        </div>
       <hr>

      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
